<h1> Hi {{ user }}! </h1>

<p> An reseting password request was made for your email ({{ email}}). </p>

<p> Use the token <strong>{{ token }}</strong> to change your password or click on the following link. </p>

<a href="{{ link }}">Create a new password</a>
