<h1> Hi {{ user }}! </h1>
<p> An reseting password request was made for your email ( <strong>{{ email }}</strong> ). </p>
<p> Click on the following link to change your password. </p>
<a href="{{ link }}">Click here to create a new password.</a>
