<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TGL</title>
    <style>
      body {
        color: #707070;
        font-family: sans-serif;
        text-decoration: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: #f7f7f7;
        overflow-x: hidden;
        font-style: italic;
      }
      .header {
        color: #B5C401;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #ddd;
      }
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      a {
        color: #B5C401;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <h1>The Greatest App</h1>
    </header>
    <main>
      <h1> New Bet!</h1>
      <h2> Hey, {{ user }}!</h2>
      <p> Your bet is now on! Keep betting on the link below!</p>
      <a href={{link}}>The Greatest App.</a>
    </main>
  </body>
</html>
